<div>
  <div *ngIf="editMode">

    <input [(ngModel)]="issue.name" placeholder="name">
    <input [(ngModel)]="issue.description" placeholder="name">
    <add-issue [parentIssue]="issue.id" (addIssueOutput)="onIssueAdded($event)"></add-issue>
    <a href="#" (click)="modify($event)">Modify</a>

  </div>

  <div *ngIf="!editMode">

    <div class="issue-name">
      {{issue.name}}
    </div>

    <div class="issue-description">
      {{issue.description}}
    </div>

    <a href="#" (click)="editIssue($event)">Edit</a>
    
    <div *ngIf="issue.child && child">
      <div class="child-issue">
        <issue [issue]="child"></issue>
      </div>
    </div>

  </div>
</div>