<div>
  <div *ngIf="editMode">

    <input [(ngModel)]="issue.name" placeholder="name">
    <input [(ngModel)]="issue.description" placeholder="name">
    <a href="#" (click)="modify($event)">Modify</a>

  </div>

  <div *ngIf="!editMode">

    <div class="issue-name">
      {{issue.name}}
    </div>

    <div class="issue-description">
      {{issue.description}}
    </div>

    <a href="#" (click)="editIssue($event)">Edit {{issue.id}}</a>

    <div *ngIf="issue.child">
      <div class="child-issue">
        {{issue.child}}
      </div>
    </div>

  </div>
</div>