<div class="issue">
  <div *ngIf="editMode">

    <input type="text" [(ngModel)]="issue.name" placeholder="name">
    <input type="text" [(ngModel)]="issue.description" placeholder="name">
    <app-add-issue [parentIssue]="issue.id" (addIssueOutput)="onIssueAdded($event)"></app-add-issue>
    <a href="#" (click)="modify($event)">Modify</a>

  </div>

  <div *ngIf="!editMode">

    <span class="issue-name">
      {{issue.name}}
    </span>

    <span class="issue-description">
      {{issue.description}}
    </span>

    <a href="#" class="edit" (click)="editIssue($event)">Edit</a>
    
    <div *ngIf="issue.child && child">
      <div class="child-issue">
        <app-issue [issue]="child" (issueOutput)="onIssue($event)"></app-issue>
      </div>
    </div>

  </div>
</div>