.issue {
    font-weight: bold;
    background-color: #ffcc99;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 0px;
    margin-bottom: 18px;
    margin-top: 3px;
    box-shadow: 0px -0px 14px #888888;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
  outline: none;
  font-size: 14px;
}
input[type="text"]:focus,
input[type="text"].focus {
  border-bottom: solid 2px #969696;
}